client/node_modules
products_service/node_modules


client/.idea
products-service/.idea

client/yarn.lock
products-service/yarn.lock

client/yarn-error.log
products-service/yarn-error.log

products-service/.env

client/src/common
products-service/src/common